:root {
    --color-logo:#000000;
    --color-background:#FFFFFF;
    --color-textbase:#757575;
    --color-title:#212121;
    --color-hoover:#2196F3;
    --color-section:#2F303A;
    --color-button-background:#F5F4FA;

}
body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color:var(--color-textbase)
}
.logo-base {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-hoover);
}
.logo {
    color: var(--color-logo);}

.logo-invert {
    color:var(--color-background);
}
.list {
    list-style-type: none;
   }
   
   .link-nav {
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration:none;
        color: var(--color-title);;
}
.link-nav:hover {
    color: var(--color-hoover);
    
}
.top-adress:hover {
    color: var(--color-hoover);
        

}

.top-adress {
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--color-textbase)
}
.hero {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: var(--color-section);
    
}
.hero-title {
    width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-background);
}
.button {
    width: 216px;
    height: 50px;           
    background: var(--color-hoover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--color-background);
    border: 0em;
    cursor: pointer;
}
.features {
   

}
.features-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: var(--color-title);

}
.lorem {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
.what-we-do-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--color-title);
}
.teams{
        
    }
.teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: var(--color-title);

}
.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--color-title);

}
.position {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--color-textbase);
    
}
.footer {
    width: 1600px;
    height: 252px;
    background: var(--color-section)
}
.map {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color:var(--color-background);
        text-decoration: none;
}


.footer-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}
.portfolio-title {
    visibility: hidden;

}
.button-portfolio{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
    background: var(--color-button-background);
        border-radius: 4px;
        border: 0em;
        cursor: pointer;
   }
   .button-portfolio:hover {
    color: var(--color-background);
    background: var(--color-hoover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

   }
   
.all-button {
    width: 73px;
    height: 38px;
}
.web-button {
width: 125px;
    height: 38px;
}
.app-button {
    width: 112px;
    height: 38px;
}
.design-button {
    width: 103px;
    height: 38px;
} 
.marketing-button {
    width: 130px;
    height: 38px;
}
.project-title {
    font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color:var(--color-title);
}
.project-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color:var(--color-textbase);
}
    